<div class="container__big-card">
  <div class="big-card__image">
    <img
      src="https://assets.dio.me/TUoq4u7yqxEEfAkAxSlAzIngHpdWJhZlHG4VmbwtoZc/f:webp/q:80/L2FydGljbGVzL2NvdmVyLzNlY2FmYTJiLTRkMzktNDIxYy04YjJmLThkODRiYjQwNmVjNy5qcGc"
      alt=""
      width="100%"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">
        Saiu a nova versão do Angular!
      </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, iusto non id animi deleniti fuga suscipit quos facilis labore, odio nisi! Asperiores tempore iure doloremque optio soluta perspiciatis similique. Consequatur!
      </a>
    </p>
  </div>
</div>
